body {
	width: 423px;
	height: 504px;
	margin: 0;
	overflow: hidden;
}
#container {
	width: 419px;
	height: 500px;
	overflow: auto;
	border: solid 6px transparent;
	margin: 2px;
	padding: 5px;
	font-size: 12px;
	font-family: "Trebuchet MS",Trebuchet,Calibri,Tahoma,Arial,sans-serif;
}
#head {
	font-variant: small-caps;
	font-size: 1.6em;
	line-height: 1.6em;
	margin-bottom: 15px;
}
#teaser {
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 25px;
}
#desc p {
	margin-bottom: 1em;
}
#desc table {
	font-size: 12px;
	border-collapse: collapse;
	border: solid 1px #000;
}
#desc table td {
	border-top: solid 1px #000;
	padding: 0 5px ;
}
a {color: #FFFFFF}
