body {
	width: 423px;
	height: 504px;
	margin: 0;
	overflow: hidden;
}
#container {
	width: 419px;
	height: 500px;
	overflow: auto;
	padding: 5px;
	font-size: 14px;
	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
	line-height: 18px;
	background-color: white;
}
#head {
	font-family: Museo,Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 10px;
}
#teaser {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}
#desc p {
	margin-bottom: 10px;
}
#desc table {
	font-size: 12px;
	border-collapse: collapse;
	border: solid 1px #000;
	margin-bottom: 10px;
}
#desc table td {
	border-top: solid 1px #000;
	padding: 0 5px ;
}
a {color: #FFFFFF}
