a:visited {text-decoration: none; color: black}
a:active {text-decoration: none; color: black}
a:hover {text-decoration: none; color: red}
a:link {text-decoration: none; color: black}
div {margin:0; position:absolute}
img {border-style:none}
img.w {width:100%}
img.h {height:100%}
body {font-family:Segoe UI; margin:0;}

#title {
	font-size: 8pt;
	visibility: hidden;
}
#price {
	font-size: 10pt;
	font-weight: bold;
}

#displayArea {
	width:120;
	height:135;
}
#logo {
	margin-top: 2px;
	height: 27px;
}
#logoDiv {
	width: 100%;
	height: 35px;
	padding: 2px;
	text-align: center;
	overflow: hidden;
}
#prefix {
	top:2;
	height:10;
}

#divider {
	top:35;
	left:3%;
	width:94%;
	height:3;
	overflow:hidden;
	text-align: center;
	background-color:#E2E2E2;
}
#meter {
	position: relative;
	background-color: #FFCD04;
}

#contentArea {
	top:39;
	width:100%;
}
#itemImageDiv {
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	overflow: hidden;
}
#prevWoot {
	top:1;
	left:2;
}
#nextWoot {
	top:1;
	right:2;
}
.light {
	position:absolute;
	width:20;
	bottom:0;
	visibility:hidden;
}
#soldout {
	position:absolute;
	width:100%;
	bottom:0;
	text-align:center;
	visibility:hidden;
}
#titleDiv {
	width:100%;
	top:30%;
	text-align:center;
}
#priceDiv {
	top: 1;
	padding: 0 0.2em;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='halo.png');
}

#msgDiv {
	margin:4;
	bottom:2;
	width:100%;
	text-align:center;
	overflow: hidden;
}

#msg {
	color: red;
	font-size: 8pt;
	visibility: hidden;
	background-color:white;
}
